* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Courier New", Courier, monospace;
  color: #133957;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.flex {
  display: flex;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

.column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.display-none {
  display: none;
}

.grow-1 {
  flex-grow: 1;
}

.pb-1 {
  padding-bottom: 1rem;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.hidden {
  display: none;
}
