@media (max-width: 970px) {
  /* HEADER------------------------------------------------- */

  .header-content img {
    width: 80px;
  }
  /* WELCOME-SEGMENT---------------------------------------- */
  .welcome-segment {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .DateAndTime {
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
  }

  .weather-container {
    padding-left: 20px;
  }
  .DateAndTime h4 {
    margin: 0;
  }
  .toggle-add-form {
    margin: 0;
  }

  /* ASIDE ----------------------------------------------- */

  .forms {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .formBox,
  .editform-modal {
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
  }
  .formBox input,
  .editform-modal input {
    width: 60%;
    height: 2rem;
    font-size: 1rem;
    border: none;
    margin-bottom: 5px;
    min-width: 300px;
  }
  .formBox-date {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  .formBox-date input,
  .edit-date-form {
    border: none;
    height: 2rem;
    font-size: 1.2rem;
    color: grey;
  }
  .add-btn {
    font-size: 1.5rem;
  }
  .save-edit-btn {
    font-size: 1.5rem;
  }
  .close-editform {
    font-size: 1.5rem;
  }

  /* MAIN--------------------------------------------------- */
  .calendarWrapper {
    flex-direction: column;
    height: 100%;
  }
  aside {
    width: 100%;
    overflow: visible;
    height: max-content;
  }
  .todo-list {
    height: 40vh;
  }
  .wrapper {
    height: 100vh;
  }
  main {
    min-height: 70vh;
  }
  .day:hover .content-container {
    min-width: 100%;
  }
  .notification-container {
    flex-direction: row;
  }

  /* EDIT TODOITEM FORM MODAL */
  .editform-modal {
    width: 90%;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
  }

  .editform-modal input {
    width: 80%;
    height: 2rem;
    font-size: 1rem;
    border: none;
    margin: 2.5px 10px;
    min-width: 250px;
  }
}
