.calendar-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 0.3rem;
  grid-auto-rows: minmax(50px, auto);
}

.day {
  height: 50px;
  background-color: honeydew;
  width: 100%;
}

.day:hover {
  background-color: lightsalmon;
}

.prev-month-day {
  background-color: blueviolet;
}

.next-month-day {
  background-color: blueviolet;
}

.weekday-container {
  display:grid;
  grid-template-columns: repeat(7,1fr);
}

main {
  width: 100%;
}

.extra {
  background-color: lightgreen;
}
