.calendar-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: minmax(20px, auto);
  grid-auto-columns: minmax(20px, auto);
  grid-gap: 2px;
  height: 93%;
}

.day,
.next-month-day,
.prev-month-day {
  display: flex;
  background-color: rgba(243, 243, 243, 0.331);
  width: 100%; /* Used for transition */
  height: 100%; /* Used for transition */
  font-size: 2rem;
  padding: 0.5rem;
  transition: all 0.5s;
}

.day i {
  font-size: 0.8rem;
  margin: 4px;
  padding: 0.1rem;
}

.todo-icon-container {
  background-color: orange;
  height: 1.2rem;
  border-radius: 10rem;
  display: block;
}

.nr-of-todos {
  font-size: 1rem;
  padding: 0 0.3rem;
  display: block;
}

.selected-Day {
  border: solid 2px black;
}

.flag-occasion {
  display: none;
  font-size: 0.7rem;
}

/* DAY HOVER -------------------------------------------------------------------------------- */

.day:hover {
  background-color: #133947;
  color: white;
  cursor: pointer;
  width: 130%;
  height: 180%;
  z-index: 0;
  position: relative;
  flex-direction: column;
}

.day:hover .flag-occasion {
  display: flex;
}

.day:hover .todo-icon-container {
  display: none;
}
.day:hover .todo-circle,
.flag-day {
  display: none;
}

.day:hover i {
  color: orange;
}

.day:hover .flag-day {
  /* display: none; */
  background: none;
  position: absolute;
}

.day:hover .todo-container {
  position: absolute;
  width: 100%;
  margin-top: 0.5rem;
}

.day:hover .todo:nth-child(-n + 3) {
  display: block;
}

.day:hover .more-todos {
  display: block;
}

.day:hover .todo {
  max-width: 80%;
  z-index: 3;
}

.todo,
.more-todos {
  margin-left: 5%;
  display: none;
  color: white;
  font-size: 0.7rem;
  font-style: italic;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.todo-container {
  display: flex;
  flex-direction: column;
  top: 25%;
}

.holiday {
  color: red;
}

.flag-day {
  background-size: cover;
  display: flex;
  max-height: 17%;
}

.prev-month-day,
.next-month-day {
  color: #3b829c47;
}

.weekday-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-size: 2rem;
  font-weight: bold;
  height: 7%;
}

main {
  width: 100%;
}

.extra {
  background-color: lightgreen;
}
